<div class="card mb-4">
  <div class="card-body text-center">
    <img src="{{user.image}}" alt="avatar"
      class="rounded-circle img-fluid" style="width: 150px;">
    <h5 class="my-3">{{user.firstName}} {{user.lastName}}</h5>
    <p class="text-muted mb-1">{{user.role}}</p>
    <p class="text-muted mb-4">{{user.street}}, {{user.city}}, {{user.country}}</p>
    <div class="d-flex justify-content-center mb-2">
      <button type="button" class="btn btn-outline-primary">Change Photo</button>
      <!-- <button type="button" class="btn btn-outline-primary ms-1">Edit Info</button> -->
    </div>
  </div>
  </div>