<div class="card mb-4">
  <div class="card-body text-center">
    <img src="{{user.image}}" alt="avatar" class="rounded-circle img-fluid" style="width: 200px; height: 200px; object-fit: cover;">
    <h5 class="my-3">{{user.firstName}} {{user.lastName}}</h5>
    <p class="text-muted mb-1">{{user.role}}</p>
    <p class="text-muted mb-1">{{user.street}}, {{user.city}}, {{user.country}}</p>
    <p *ngIf="user.role === 'Driver'" class="text-muted mb-4">Activity: {{getDriverActivity()}}</p>
    <div class="d-flex justify-content-center mb-2">
      <button type="file" class="btn btn-outline-primary mb-2" (click)="changeImg()">Change Photo</button>
      <input hidden type="file" accept="image/*" id="upload-file" ngf-max-size="10MB" (change)="imgSelected($event)">
    </div>
  </div>
</div>