<div style="display: flex; justify-content: space-between;" class="m-2">
    <div class="form-check form-switch" style="cursor: pointer;">
        <input class="form-check-input" type="checkbox" id="babiesCheck" [checked]="rideRequest.babies" (change)="onCheckedBabies()">
        <label class="form-check-label" for="babiesCheck">Babies Allowed</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="petsCheck" [checked]="rideRequest.pets" (change)="onCheckedPets()">
        <label class="form-check-label" for="petsCheck">Pets Allowed</label>
    </div>
</div>
<ul class="vehicle-type-list">
    <li class="vehicle-type-card mt-2" [ngClass]="{'selected' : type.id === rideRequest.vehicleType!.id}"
        (click)="typeSelected(type.id)" *ngFor="let type of vehicleTypes; index as i">
        <div class="vehicle-info">
            <h6>{{type.name}}</h6>
        </div>
        <div class="vehicle-price">
            <h3>+ ${{type.additionalPrice}}</h3>
        </div>
    </li>
</ul>