<div class="req-ride-wrapper col-lg-3 col-md-5">
  <div class="panel border bg-white">
    <div>
      <div class="panel-heading px-3" style="text-align: left;">
        <h2 class="pt-3 font-weight-bold mt-2">
          {{title}}
        </h2>
      </div>
      <div class="panel-body p-3">
        <form [formGroup]="rideForm">
          <div class="form-group pt-3">
            <div class="input-field gray-input-field">
              <i class="fa-sharp fa-solid fa-location-dot p-2"></i>
              <geoapify-geocoder-autocomplete placeholder="Add a pickup location" type="amenity"
                (placeSelect)="pickupSelected($event)">
              </geoapify-geocoder-autocomplete>
            </div>
          </div>

          <div class="form-group pt-3">
            <div class="input-field gray-input-field">
              <i class="fa-sharp fa-solid fa-location-dot p-2"></i>
              <geoapify-geocoder-autocomplete placeholder="Enter your destination" type="amenity"
                class="gray-input-field" (placeSelect)="destinationSelected($event)">
              </geoapify-geocoder-autocomplete>
            </div>
          </div>

          <div class="form-group pt-3" (click)="setLocation()"
            style="display: flex;justify-content: space-between; align-items: center; cursor: pointer;">
            <i class="fa fa-map-location-dot p-2" style="background-color: rgb(238, 238, 238); border-radius: 50%;"></i>
            <p class="m-2 p-2" style="color: black; width: 90%;">
              Set location on map
            </p>
          </div>

          <div class="form-group pt-3" *ngIf="routesJSON.length > 0">
            <app-routes-list 
              [selectedRouteIndex]="selectedRouteIndex"
              [routesJSON]="routesJSON"
              (routeClickedEvent)="routeSelected($event)"></app-routes-list>
          </div>
        </form>
      </div>
    </div>
    <button (click)="onSubmit()" type="submit" [hidden]="!rideForm.valid" class="btn btn-block m-2 p-2"
      style="background-color: black; color: white;">
      Request Uber
    </button>
  </div>