.req-ride-wrapper {
    position: absolute;
    z-index: 2;
    left: 10%;
    width: 20%;
    letter-spacing: 0.1px;
    word-spacing: 0.1px;
}

.panel.border.bg-white {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 650px;

    .form-data {
        height: 600px;
        overflow-y: auto;
    }
}

.gray-input-field {
    background-color: rgb(238, 238, 238);
    border-color: rgb(238, 238, 238);
}

.locations {
    min-height: max-content;
    z-index: 5;
}