<form class="form-inline my-2 my-lg-0">
    <input type="search" (ngModelChange)="searchUsers(key.value)" #key="ngModel" ngModel name="key" id="searchName"
        class="form-control mr-sm-2" placeholder="Search users..." required>
</form>
<div class="container">
    <div class="row">
        <div *ngFor="let user of users" class="col-md-6 col-xl-4">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="{{ user?.image }}" alt="" class="img-fluid rounded-circle w-60" /></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{ user?.firstName }}
                            {{ user?.lastName }}</h5>
                        <p class="m-0">{{ user?.role }}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="fa fa-envelope float-right"></i>
                        {{ user?.email }}
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-phone float-right"></i>Phone :
                        {{ user?.phone }}
                    </li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenModal(user, 'edit')" class="btn btn-primary tooltips" data-placement="top"
                            data-original-title="Edit">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a (click)="onOpenModal(user, 'delete')" class="btn btn-secondary tooltips" data-placement="top"
                            data-original-title="Delete">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Edit Modal -->
<div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="updateUserModalLabel">
                Edit User
                {{editUser.firstName}}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form #editForm="ngForm">
                <div class="form-group">
                    <label for="name">First Name</label>
                    <input type="text" ngModel="{{ editUser.firstName }}" name="firstName" class="form-control"
                    id="firstName" aria-describedby="emailHelp" placeholder="First Name" />
                </div>
                <div class="form-group">
                    <label for="name">Last Name</label>
                    <input type="text" ngModel="{{ editUser.lastName }}" name="lastName" class="form-control"
                    id="lastName" aria-describedby="emailHelp" placeholder="Last Name" />
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" ngModel="{{ editUser.email }}" name="email" class="form-control" id="email"
                    placeholder="Email" readonly />
                </div>
                <div class="form-group">
                    <label for="phone">Role</label>
                    <input type="text" [readOnly]="editUser.role === 'ROLE_ADMIN'" ngModel="{{ editUser.role }}" name="role" class="form-control" id="role"
                    placeholder="Role"/>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" ngModel="{{ editUser.phone }}" name="phone" class="form-control" id="phone"
                    name="phone" placeholder="Phone" />
                </div>
                <div class="form-group">
                    <label for="phone">Image URL</label>
                    <input type="text" ngModel="{{ editUser.image }}" name="image" class="form-control" id="image"
                    placeholder="Image URL" />
                </div>
                <div class="modal-footer">
                    <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">
                    Close
                    </button>
                    <button (click)="onUpdateUser(editForm.value)" data-dismiss="modal" class="btn btn-primary">
                    Save changes
                    </button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>