<header class="d-flex align-items-center justify-content-center bg-black">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <h2 class="px-2" style="margin: 0;">Uber</h2>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <!-- <li><a (click)="openRide()" class="nav-link px-2 text-white" style="cursor: pointer;">Ride</a></li> -->

        <li><a routerLink="/uber" class="nav-link px-2 text-white">Ride</a></li>
        <li><a routerLink="/uber/mytrips" class="nav-link px-2 text-white" style="min-width: max-content;">My Trips</a></li>
        <li><a routerLink="/uber/active-rides" class="nav-link px-2 text-white" style="min-width: max-content;">Active Rides</a></li>
        
        <li><a routerLink="/uber/wallet" class="nav-link px-2 text-white">Wallet</a></li>
      </ul>
      
      <div class="text-end">
        <div>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item dropdown">
              <a class="nav-link  dropdown-toggle text-white" data-bs-toggle="dropdown"
                style="cursor: pointer;">{{user.email}}</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/uber/mytrips">My trips</a></li>
                <li><a class="dropdown-item" routerLink="/uber/active-rides">Active Rides</a></li>
                <li><a class="dropdown-item" routerLink="/uber/fav-routes">Favorite Routes</a></li>
                <li><a class="dropdown-item" routerLink="/uber/split-fare">Split Fare</a></li>
                <li><a class="dropdown-item" routerLink="/uber/wallet">Wallet</a></li>
                <li><a class="dropdown-item" routerLink="/uber/reports">Reports</a></li>
                <li><a class="dropdown-item" routerLink="/uber/profile">My Profile</a></li>
                <li><a class="dropdown-item" routerLink="/uber/support">Support</a></li>
              </ul>
            </li>
            <li><a (click)="logout()" class="nav-link px-2 text-white" style="cursor: pointer;">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>


