<div class="card mb-4">
  <div class="card-header" style="display: inline-block">
    Personal Informations
    <div class="ms-4 small" style="float: right">
      <a id="edit" *ngIf="!edit" (click)="onEditClick()">Edit</a>
      <button *ngIf="edit" class="btn btn-sm btn-primary" type="button" [disabled]="!editForm.valid" (click)="saveChangesClick()" style="margin-top: 0; float: right">
        Save Changes
      </button>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="editForm">
      <div class="row" [class.error]="editForm.controls['firstName'].touched && editForm.controls['firstName'].invalid">
        <div class="col-sm-3">
          <p class="mb-0">First Name</p>
        </div>
        <div class="col-sm-9">
          <p *ngIf="!edit" class="text-muted mb-0">
            {{ user.firstName }}
          </p>
          <input *ngIf="edit" formControlName="firstName" type="text"/>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Last Name</p>
        </div>
        <div class="col-sm-9">
          <p *ngIf="!edit" class="text-muted mb-0">
            {{ user.lastName }}
          </p>
          <input *ngIf="edit" formControlName="lastName" type="text"/>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Email</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">
            {{ user.email }}
          </p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Phone</p>
        </div>
        <div class="col-sm-9">
          <p *ngIf="!edit" class="text-muted mb-0">
            {{ user.phone }}
          </p>
          <input *ngIf="edit" formControlName="phone" type="text"/>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Street</p>
        </div>
        <div class="col-sm-9">
          <p *ngIf="!edit" class="text-muted mb-0">
            {{ user.street }}
          </p>
          <input *ngIf="edit" formControlName="street" type="text"/>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">City</p>
        </div>
        <div class="col-sm-9">
          <p *ngIf="!edit" class="text-muted mb-0">
            {{ user.city }}
          </p>
          <input *ngIf="edit" formControlName="city" type="text"/>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Country</p>
        </div>
        <div class="col-sm-9">
          <p *ngIf="!edit" class="text-muted mb-0">
            {{ user.country }}
          </p>
          <input *ngIf="edit" formControlName="country" type="text"/>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="!edit" class="card-footer" style="display: inline-block">
    <div class="ms-4 small" style="float: right">
      <a routerLink="changePassword">Change Password</a>
    </div>
  </div>
</div>