.req-ride-wrapper {
    position: absolute;
    z-index: 1;
    left: 10%;
    width: 20%;
    letter-spacing: 0.1px;
    word-spacing: 0.1px;
}

.panel.border.bg-white {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;

    .form-data {
        height: 600px;
        overflow-y: auto;
    }
}

.bottom {
    display: flex;
    flex-direction: column;

    a {
        cursor: pointer;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .split-with-friends {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
    }
}