<div id="main-container" style="overflow-x: hidden; overflow-y: scroll;">
   <app-administrator-navbar></app-administrator-navbar>
   <div class="row">
      <p></p>
   </div>

   <div [ngSwitch]="activeNavItem">
      <div *ngSwitchCase="'allUsers'">
         <app-all-users [users]="users" [getAllUsers]="getAllUsers" [onOpenModal]="onOpenModal"
            [onUpdateUser]="onUpdateUser" [editUser]="editUser"
            [administratorService]="administratorService"></app-all-users>
      </div>
      <div *ngSwitchCase="'notifications'">
         <p>Notifications</p>
      </div>
      <div *ngSwitchCase="'my_profile'" style="overflow-x: hidden; overflow-y: scroll;">
         <app-my-profile [onOpenModal]="onOpenModal" [adminUser]="adminUser" [editUser]="editUser" [getAllUsers]="getAllUsers"
            [administratorService]="administratorService" [onUpdateUser]="onUpdateUser"></app-my-profile>
      </div>
   </div>
</div>
<!-- Edit Modal -->
<div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="updateUserModalLabel">
               Edit User
               {{editUser?.firstName}}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #editForm="ngForm">
               <div class="form-group">
                  <label for="name">First Name</label>
                  <input type="text" ngModel="{{ editUser?.firstName }}" name="firstName" class="form-control"
                     id="firstName" aria-describedby="emailHelp" placeholder="First Name" />
               </div>
               <div class="form-group">
                  <label for="name">Last Name</label>
                  <input type="text" ngModel="{{ editUser?.lastName }}" name="lastName" class="form-control"
                     id="lastName" aria-describedby="emailHelp" placeholder="Last Name" />
               </div>
               <div class="form-group">
                  <label for="email">Email Address</label>
                  <input type="email" ngModel="{{ editUser?.email }}" name="email" class="form-control" id="email"
                     placeholder="Email" readonly />
               </div>
               <div class="form-group">
                  <label for="phone">Role</label>
                  <input type="text" [readOnly]="editUser?.role === 'ROLE_ADMIN'" ngModel="{{ editUser?.role }}"
                     name="role" class="form-control" id="role" placeholder="Role" />
               </div>
               <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="text" ngModel="{{ editUser?.phone }}" name="phone" class="form-control" id="phone"
                     name="phone" placeholder="Phone" />
               </div>
               <div class="form-group">
                  <label for="phone">Image URL</label>
                  <input type="text" ngModel="{{ editUser?.image }}" name="image" class="form-control" id="image"
                     placeholder="Image URL" />
               </div>
               <div class="modal-footer">
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">
                     Close
                  </button>
                  <button (click)="onUpdateUser(editForm.value)" data-dismiss="modal" class="btn btn-primary">
                     Save changes
                  </button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>