<div class="driver-homepage-wrapper">
    <div class="panel border bg-white">
        <router-outlet></router-outlet>

    </div>
    <!-- <div class="panel border bg-white">
      <div class="form-data">
        <div class="panel-heading px-3" style="display: flex; justify-content: space-between; align-items: center;">
          <h2 class="pt-3 font-weight-bold mt-2">
            Choose a ride
          </h2>
  
        </div>
        <div class="panel-body p-3 pt-0">
          <div class="locations">
  
          </div>
  
  
  
        </div>
      </div>
    </div>
  
    <div class="bottom">
  
    </div> -->
  </div>